<mat-card class="profile-card">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <form *ngIf="projectForm" [formGroup]="projectForm" (ngSubmit)="onProjectAdd()">
        <mat-card-content>
            <div class="profile-info">
                <div class="basic-info">
                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Project Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="projectForm.get('name')?.invalid">Project name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Contact Information</mat-label>
                        <input matInput formControlName="contactInformation">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Services Provided</mat-label>
                        <input matInput formControlName="servicesProvided">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Inactive">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Billing Status</mat-label>
                        <mat-select formControlName="billingStatus">
                            <mat-option value="Billed">Billed</mat-option>
                            <mat-option value="Pending">Pending</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="info-field">
                        <mat-label>Resources</mat-label>
                        <input matInput [value]="resourceNames">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button type="submit" color="accent" class="add-btn">
                {{isEditPage ? "Update" : "Add"}}
            </button>
            <button mat-flat-button type="button" color="accent" (click)="onBackToLists()">Cancel</button>
        </mat-card-actions>
    </form>
</mat-card>