/* Style for the Home Component */
.home-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.mat-mdc-card {
    border-width: 2px;
}

/* Each card styling */
.home-card {
    width: 300px;
    height: 250px;
}

/* Card header style */
.mat-mdc-card-header {
    background-color: #4caf50;
    color: white;
    padding: 8px;
}

/* Card value style */
.card-value {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

/* Button styling */
.mat-mdc-raised-button {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}